# Flask==2.3.3
# Werkzeug==2.3.7
# Jinja2==3.1.2
# MarkupSafe==2.1.3
# itsdangerous==2.1.2
# click==8.1.7
# google-generativeai==0.3.1
# python-dotenv==1.0.0
# gunicorn==21.2.0
# Flask-WTF==1.2.1
# WTForms==3.0.1
# Flask-Login==0.6.2
# Flask-SQLAlchemy==3.1.1
# SQLAlchemy==2.0.21
# Flask-Migrate==4.0.5
# pdfkit==1.0.0
# python-docx==1.0.1
# email-validator==2.1.0.post1
# Pillow==10.0.1
# flask-limiter==3.5.0
# pytz==2023.3.post1
# blinker==1.6.3
# cryptography==41.0.4
# requests==2.31.0
# protobuf==4.24.4
# google-api-python-client==2.103.0
# google-auth==2.23.0
# google-auth-oauthlib==1.1.0

Flask
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
google-generativeai
python-dotenv
gunicorn
Flask-WTF
WTForms
Flask-Login
Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate
pdfkit
python-docx
email-validator
Pillow
flask-limiter
pytz
blinker
cryptography
requests
protobuf
google-api-python-client
google-auth
google-auth-oauthlib
markdown
Pygments
pyinstaller